name: Veracode Static Analysis Demo
# TODO - currently only runs manually, when you run this depends on on your workflow
#.       see https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows for possibilities
on: workflow_dispatch
    
jobs:
  static_analysis:
    name: Static Analysis
    # Monterey or higher is required for gen-ir
    runs-on: macos-12
    
    steps:
      - name: checkout
        uses: actions/checkout@v2
        
      - name: Setup
        env: 
          NotificationEndpointDebug: ${{ secrets.NotificationEndpointDebug }}
          NotificationEndpointRelease: ${{ secrets.NotificationEndpointRelease }}
        run: |
            cd /Users/runner/work/mastodon-ios/mastodon-ios/
            gem install bundler:2.3.11
            bundle install
            bundle exec arkana
            bundle exec pod install
            
      - name: Install gen-ir from source
        run: |
            git clone -b parse_projects https://github.com/veracode/gen-ir.git
            cd gen-ir
            swift build
            echo "Built gen-ir in debug mode, installing in /usr/lobal/bin"
            sudo cp ./.build/debug/gen-ir /usr/local/bin/gen-ir
      
#       - name: Install Homebrew dependencies
#         run: brew tap veracode/tap && brew install gen-ir
        
      - name: Export a Build Log with xcodebuild - clean
        run: xcodebuild clean

      # Note that code signing is disabled, for analysis purposes we don't need a signed build.
      - name: Export a Build Log with xcodebuild - archive
        run: |
            xcodebuild archive \
              -workspace Mastodon.xcworkspace \
              -scheme Mastodon \
              -configuration Debug \
              -destination generic/platform=iOS \
              -archivePath Mastodon.xcarchive \
              CODE_SIGN_IDENTITY="" \
              CODE_SIGNING_REQUIRED=NO \
              CODE_SIGNING_ALLOWED=NO \
              DEBUG_INFOMATION_FORMAT=dwarf-with-dsym \
              ENABLE_BITCODE=NO > build.log

      - name: Generate IR with a Build Log
        run:  gen-ir build.log Mastodon.xcarchive/IR
        
      - name: Build Veracode dir
        run: |
          mkdir veracode
          zip veracode/Matodon-Podfile.zip Podfile.lock
          zip -r veracode/Mastodon.xcarchive.zip Mastodon.xcarchive
      
      # Can't use Veracode GitHub Action because container actions not supported on MacOS runners
      - name: Upload & Scan
        run: |
          wget https://search.maven.org/remotecontent?filepath=com/veracode/vosp/api/wrappers/vosp-api-wrappers-java/22.10.10.4/vosp-api-wrappers-java-22.10.10.4.jar -O VeracodeJavaAPI.jar
          java \
            -jar VeracodeJavaAPI.jar \
            -debug \
            -deleteincompletescan 2 \
            -action uploadandscan \
            -vid ${{ secrets.API_ID }} \
            -vkey ${{ secrets.API_KEY }} \
            -appname "relaxnow/mastodon-ios" \
            -createprofile true \
            -criticality VeryHigh \
            -sandboxname github \
            -createsandbox true \
            -version "commit:${{ github.sha }},run_id:${{ github.run_id }},attempt_nr:${{ github.run_attempt }}" \
            -filepath veracode
